.card{
    width: 40%;                /* Set the width to 50% of the screen */
    margin: 20px auto;        /* Center the card horizontally with margin */
    padding: 10px 20px;            /* Add padding inside the card */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better appearance */
    border-radius: 8px;       /* Optional: Add rounded corners */
}

.red-button {
    color: red;
    border-color: red;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    flex-grow: 0.4;
  }
  
  .header-image {
    width: 25px;
    height: 25px;
  }

@media (max-width: 900px) {
    .card {
        width: 80%;
}}


.card-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.spacer {
  flex-grow: 1;
}

.actions{
  display: flex;
}

.date{
  color: #333;
}