.card{
    width: 40% ;  
    margin: 20px auto; 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
    display: block;
}

@media (max-width: 900px) {
  .card {
      width: 85%;
  }   
}

.red-button {
    color: red;
    border-color: red;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .title {
    flex-grow: 1;
  }
  
  .header-image {
    width: 25px;
    height: 25px;
  }


.card-content {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.spacer {
  flex-grow: 1;
}

.actions{
  display: flex;
}

.date{
  color: #333;
}