
<mat-card class="card" [style.background-color]="cardColor">
    <div class="header-container">
        <div class="title">
          <mat-card-title>{{ title }}</mat-card-title>
        </div>
        <img mat-card-sm-image src="{{current_img}}" class="header-image" (click)="updateCompleted()">
      </div>

    <mat-card-content class="card-content">
        <p>{{ description}}</p>
    </mat-card-content>
    
   

    <div class="actions">
      <div class="spacer">
        <!--<mat-card-subtitle>{{ date }}</mat-card-subtitle> -->
        <p class="date">{{date}}</p>
      </div>
        <button mat-stroked-button class="red-button" (click)="deleteItem()">Delete</button>
    </div>
</mat-card>
  
