
<mat-card class="card">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ date }}</mat-card-subtitle>
    
    <mat-card-content>
        <p>{{ description}}</p>
        <p>Completed: {{ completed}}</p>
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="updateCompleted()">Change status</button>
        <button mat-stroked-button class="red-button" (click)="deleteItem()">Delete</button>
    </mat-card-actions>
</mat-card>
  
